Analyze the loan datas from Lending Club

In this project, I will use  to estimate whether a borrower will fully pay his/her loan based on the application infomation.
Download the data from the website

Packages used: pandas,

In [55]:
import pandas as pd

Part A: Removing useless columns

First of all, import the data and remove duplicate.

In [56]:
loans_2007 = pd.read_csv('loans_2007.csv')
loans_2007.drop_duplicates()
loans_2007.info()
print(loans_2007.head())

/Users/zaiyingqi/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42538 entries, 0 to 42537
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          42538 non-null  object
 1   member_id                   42535 non-null  float64
 2   loan_amnt                   42535 non-null  float64
 3   funded_amnt                 42535 non-null  float64
 4   funded_amnt_inv             42535 non-null  float64
 5   term                        42535 non-null  object
 6   int_rate                    42535 non-null  object
 7   installment                 42535 non-null  float64
 8   grade                       42535 non-null  object
 9   sub_grade                   42535 non-null  object
 10  emp_title                   39909 non-null  object
 11  emp_length                  41423 non-null  object
 12  home_ownership              42535 non-null  object
 13  annual_inc                  42531 non-null  float64
 14  verification_status         42535 non-null  object
 15  issue_d                     42535 non-null  object
 16  loan_status                 42535 non-null  object
 17  pymnt_plan                  42535 non-null  object
 18  purpose                     42535 non-null  object
 19  title                       42522 non-null  object
 20  zip_code                    42535 non-null  object
 21  addr_state                  42535 non-null  object
 22  dti                         42535 non-null  float64
 23  delinq_2yrs                 42506 non-null  float64
 24  earliest_cr_line            42506 non-null  object
 25  inq_last_6mths              42506 non-null  float64
 26  open_acc                    42506 non-null  float64
 27  pub_rec                     42506 non-null  float64
 28  revol_bal                   42535 non-null  float64
 29  revol_util                  42445 non-null  object
 30  total_acc                   42506 non-null  float64
 31  initial_list_status         42535 non-null  object
 32  out_prncp                   42535 non-null  float64
 33  out_prncp_inv               42535 non-null  float64
 34  total_pymnt                 42535 non-null  float64
 35  total_pymnt_inv             42535 non-null  float64
 36  total_rec_prncp             42535 non-null  float64
 37  total_rec_int               42535 non-null  float64
 38  total_rec_late_fee          42535 non-null  float64
 39  recoveries                  42535 non-null  float64
 40  collection_recovery_fee     42535 non-null  float64
 41  last_pymnt_d                42452 non-null  object
 42  last_pymnt_amnt             42535 non-null  float64
 43  last_credit_pull_d          42531 non-null  object
 44  collections_12_mths_ex_med  42390 non-null  float64
 45  policy_code                 42535 non-null  float64
 46  application_type            42535 non-null  object
 47  acc_now_delinq              42506 non-null  float64
 48  chargeoff_within_12_mths    42390 non-null  float64
 49  delinq_amnt                 42506 non-null  float64
 50  pub_rec_bankruptcies        41170 non-null  float64
 51  tax_liens                   42430 non-null  float64
dtypes: float64(30), object(22)
memory usage: 16.9+ MB
        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  1077501  1296599.0     5000.0       5000.0           4975.0   36 months
1  1077430  1314167.0     2500.0       2500.0           2500.0   60 months
2  1077175  1313524.0     2400.0       2400.0           2400.0   36 months
3  1076863  1277178.0    10000.0      10000.0          10000.0   36 months
4  1075358  1311748.0     3000.0       3000.0           3000.0   60 months

  int_rate  installment grade sub_grade  ... last_pymnt_amnt  \
0   10.65%       162.87     B        B2  ...          171.62
1   15.27%        59.83     C        C4  ...          119.66
2   15.96%        84.33     C        C5  ...          649.91
3   13.49%       339.31     C        C1  ...          357.48
4   12.69%        67.79     B        B5  ...           67.79

  last_credit_pull_d collections_12_mths_ex_med  policy_code application_type  \
0           Jun-2016                        0.0          1.0       INDIVIDUAL
1           Sep-2013                        0.0          1.0       INDIVIDUAL
2           Jun-2016                        0.0          1.0       INDIVIDUAL
3           Apr-2016                        0.0          1.0       INDIVIDUAL
4           Jun-2016                        0.0          1.0       INDIVIDUAL

  acc_now_delinq chargeoff_within_12_mths delinq_amnt pub_rec_bankruptcies  \
0            0.0                      0.0         0.0                  0.0
1            0.0                      0.0         0.0                  0.0
2            0.0                      0.0         0.0                  0.0
3            0.0                      0.0         0.0                  0.0
4            0.0                      0.0         0.0                  0.0

  tax_liens
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0

[5 rows x 52 columns]

In [64]:
loans_2007.loc[loans_2007['tax_liens']==1.0]

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,open_acc,pub_rec,revol_bal,revol_util,total_acc,last_credit_pull_d,acc_now_delinq,delinq_amnt,pub_rec_bankruptcies,tax_liens
42477,2000.0,36 months,13.43%,67.81,7 years,RENT,45000.0,Not Verified,Does not meet the credit policy. Status:Fully ...,n,...,7.0,1.0,1615.0,54.1%,7.0,Apr-2016,0.0,0.0,NaN,1.0

Now begin to reduce the columns of the data.
From the discription, we can remove some features. They are listed below:
Identity-based data: id, member_id
Overlap data: grade, sub_grade: They are same as the int_rate; zip_code: It is same as the addrs_ate as it only reveal 3 digits.
Lender related: funded_amnt, funded_amnt_inv, issue_d, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d. They are data related to current lander, which we don't have as a potential lander.

In [57]:
loans_2007 = loans_2007.drop(["id", "member_id", "funded_amnt", "funded_amnt_inv", "grade", "sub_grade", "issue_d"], axis=1)
loans_2007 = loans_2007.drop(["zip_code", "out_prncp", "out_prncp_inv", "total_pymnt", "total_pymnt_inv", "total_rec_prncp"], axis=1)
loans_2007 = loans_2007.drop(["total_rec_int", "total_rec_late_fee", "recoveries", "collection_recovery_fee", "last_pymnt_d", "last_pymnt_amnt"], axis=1)

There are some special that are hard to replace na. For example, more than 30659 different title are filled in emp_title. Thus we have to remove it. Also, too many unique values make it useless here.

In [58]:
print(sum(loans_2007['emp_title'].isna()))
print(len(loans_2007['emp_title'].unique()))
loans_2007 = loans_2007.drop(['emp_title'], axis = 1)

2629
30659

Finally, if a column only contains one single value(na is not account), it contributes nothing to our model. They are pymnt_plan, initial_list_status, collections_12_mths_ex_med, policy_code, application_type, acc_now_delinq, chargeoff_within_12_mths, delinq_amnt, tax_liens.

In [59]:
cur_col_for_one = loans_2007.nunique()
print(cur_col_for_one)
remove_one = []
for idx, value in cur_col_for_one.items():
    if value == 1:
        remove_one.append(idx)
print(remove_one)
loans_2007 = loans_2007.drop(remove_one, axis=1)

loan_amnt                       898
term                              2
int_rate                        394
installment                   16459
emp_length                       11
home_ownership                    5
annual_inc                     5597
verification_status               3
loan_status                       9
pymnt_plan                        2
purpose                          14
title                         21264
addr_state                       50
dti                            2894
delinq_2yrs                      12
earliest_cr_line                530
inq_last_6mths                   28
open_acc                         44
pub_rec                           6
revol_bal                     22709
revol_util                     1119
total_acc                        83
initial_list_status               1
last_credit_pull_d              108
collections_12_mths_ex_med        1
policy_code                       1
application_type                  1
acc_now_delinq                    2
chargeoff_within_12_mths          1
delinq_amnt                       3
pub_rec_bankruptcies              3
tax_liens                         2
dtype: int64
['initial_list_status', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'chargeoff_within_12_mths']

In [60]:
loans_2007.info()
print(loans_2007.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42538 entries, 0 to 42537
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   loan_amnt             42535 non-null  float64
 1   term                  42535 non-null  object
 2   int_rate              42535 non-null  object
 3   installment           42535 non-null  float64
 4   emp_length            41423 non-null  object
 5   home_ownership        42535 non-null  object
 6   annual_inc            42531 non-null  float64
 7   verification_status   42535 non-null  object
 8   loan_status           42535 non-null  object
 9   pymnt_plan            42535 non-null  object
 10  purpose               42535 non-null  object
 11  title                 42522 non-null  object
 12  addr_state            42535 non-null  object
 13  dti                   42535 non-null  float64
 14  delinq_2yrs           42506 non-null  float64
 15  earliest_cr_line      42506 non-null  object
 16  inq_last_6mths        42506 non-null  float64
 17  open_acc              42506 non-null  float64
 18  pub_rec               42506 non-null  float64
 19  revol_bal             42535 non-null  float64
 20  revol_util            42445 non-null  object
 21  total_acc             42506 non-null  float64
 22  last_credit_pull_d    42531 non-null  object
 23  acc_now_delinq        42506 non-null  float64
 24  delinq_amnt           42506 non-null  float64
 25  pub_rec_bankruptcies  41170 non-null  float64
 26  tax_liens             42430 non-null  float64
dtypes: float64(14), object(13)
memory usage: 8.8+ MB
   loan_amnt        term int_rate  installment emp_length home_ownership  \
0     5000.0   36 months   10.65%       162.87  10+ years           RENT
1     2500.0   60 months   15.27%        59.83   < 1 year           RENT
2     2400.0   36 months   15.96%        84.33  10+ years           RENT
3    10000.0   36 months   13.49%       339.31  10+ years           RENT
4     3000.0   60 months   12.69%        67.79     1 year           RENT

   annual_inc verification_status  loan_status pymnt_plan  ... open_acc  \
0     24000.0            Verified   Fully Paid          n  ...      3.0
1     30000.0     Source Verified  Charged Off          n  ...      3.0
2     12252.0        Not Verified   Fully Paid          n  ...      2.0
3     49200.0     Source Verified   Fully Paid          n  ...     10.0
4     80000.0     Source Verified      Current          n  ...     15.0

  pub_rec revol_bal  revol_util  total_acc last_credit_pull_d  acc_now_delinq  \
0     0.0   13648.0       83.7%        9.0           Jun-2016             0.0
1     0.0    1687.0        9.4%        4.0           Sep-2013             0.0
2     0.0    2956.0       98.5%       10.0           Jun-2016             0.0
3     0.0    5598.0         21%       37.0           Apr-2016             0.0
4     0.0   27783.0       53.9%       38.0           Jun-2016             0.0

   delinq_amnt  pub_rec_bankruptcies  tax_liens
0          0.0                   0.0        0.0
1          0.0                   0.0        0.0
2          0.0                   0.0        0.0
3          0.0                   0.0        0.0
4          0.0                   0.0        0.0

[5 rows x 27 columns]

Now, let's deal with the main output: loan_status. First let's see how many status it has.

In [61]:
print(loans_2007['loan_status'].value_counts())

Fully Paid                                             33136
Charged Off                                             5634
Does not meet the credit policy. Status:Fully Paid      1988
Current                                                  961
Does not meet the credit policy. Status:Charged Off      761
Late (31-120 days)                                        24
In Grace Period                                           20
Late (16-30 days)                                          8
Default                                                    3
Name: loan_status, dtype: int64

According to the definition, here we only care about 'Fully Paid' or 'Charged Off'. As a lander, we welcome the first case and try to avoid the second case. We will use the binary number to replace it.

In [26]:
loans_2007 = loans_2007[(loans_2007['loan_status'] == 'Fully Paid') | (loans_2007['loan_status'] == 'Charged Off')]

status_replace = {
    "loan_status" : {
        "Fully Paid": 1,
        "Charged Off": 0,
    }
}
loans_2007 = loans_2007.replace(status_replace)

In [29]:
loans_2007.info()
print(loans_2007['loan_status'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38770 entries, 0 to 39785
Data columns (total 37 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   38770 non-null  float64
 1   term                        38770 non-null  object
 2   int_rate                    38770 non-null  object
 3   installment                 38770 non-null  float64
 4   emp_length                  37734 non-null  object
 5   home_ownership              38770 non-null  object
 6   annual_inc                  38770 non-null  float64
 7   verification_status         38770 non-null  object
 8   loan_status                 38770 non-null  int64
 9   pymnt_plan                  38770 non-null  object
 10  purpose                     38770 non-null  object
 11  title                       38759 non-null  object
 12  addr_state                  38770 non-null  object
 13  dti                         38770 non-null  float64
 14  delinq_2yrs                 38770 non-null  float64
 15  earliest_cr_line            38770 non-null  object
 16  inq_last_6mths              38770 non-null  float64
 17  open_acc                    38770 non-null  float64
 18  pub_rec                     38770 non-null  float64
 19  revol_bal                   38770 non-null  float64
 20  revol_util                  38720 non-null  object
 21  total_acc                   38770 non-null  float64
 22  initial_list_status         38770 non-null  object
 23  out_prncp                   38770 non-null  float64
 24  out_prncp_inv               38770 non-null  float64
 25  total_pymnt                 38770 non-null  float64
 26  total_pymnt_inv             38770 non-null  float64
 27  total_rec_prncp             38770 non-null  float64
 28  last_credit_pull_d          38768 non-null  object
 29  collections_12_mths_ex_med  38714 non-null  float64
 30  policy_code                 38770 non-null  float64
 31  application_type            38770 non-null  object
 32  acc_now_delinq              38770 non-null  float64
 33  chargeoff_within_12_mths    38714 non-null  float64
 34  delinq_amnt                 38770 non-null  float64
 35  pub_rec_bankruptcies        38073 non-null  float64
 36  tax_liens                   38731 non-null  float64
dtypes: float64(22), int64(1), object(14)
memory usage: 11.2+ MB
0        1
1        0
2        1
3        1
5        1
        ..
39781    1
39782    1
39783    1
39784    1
39785    1
Name: loan_status, Length: 38770, dtype: int64

We have dropped all unwanted columns and reduced the rows based on the output, now it's time to clean the rest input data.

Part B: Preparing data

First of all, solve the missing values.

In [37]:
null_counts = loans_2007.isnull().sum()
print(null_counts[null_counts>0])

emp_length              1036
title                     11
revol_util                50
last_credit_pull_d         2
pub_rec_bankruptcies     697
dtype: int64

If the missing values is small compared to the dataset, just drop it. That is, title, revol_util, last_credit_pull_d.

In [44]:
loans_2007 = loans_2007.dropna(subset=['title', 'revol_util', 'last_credit_pull_d'])

Now let's deal with emp_length and pub_rec_bankruptcies.

In [46]:
for idx, value in null_counts[null_counts>0].items():
    print(loans_2007[idx].value_counts(normalize=True, dropna=False))

10+ years    0.220761
< 1 year     0.116594
2 years      0.111169
3 years      0.103909
4 years      0.086625
5 years      0.082724
1 year       0.082052
6 years      0.056243
7 years      0.044281
8 years      0.037254
9 years      0.031726
NaN          0.026662
Name: emp_length, dtype: float64
0.0    0.939391
1.0    0.042499
NaN    0.017981
2.0    0.000129
Name: pub_rec_bankruptcies, dtype: float64

Typically there are several ways to fill it. If we have enough side information, we could deduce the most possible answer. Or we could use mean or mode to replace it. Here, since the percent of na in pub_rec_bankruptcies is small, we could replace na with the mode, namely 0.0. For emp_length, it's a hard issue, since adding it to any part will increase its portion significantly. Thus we drop the na of it.

In [47]:
loans_2007['pub_rec_bankruptcies'] = loans_2007['pub_rec_bankruptcies'].fillna(0.0)
loans_2007 = loans_2007.dropna()

Now we have solved the missing values. Let's transform the categorical columns into numbers.

In [49]:
loans_2007.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37675 entries, 0 to 39785
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   loan_amnt             37675 non-null  float64
 1   term                  37675 non-null  object
 2   int_rate              37675 non-null  object
 3   installment           37675 non-null  float64
 4   emp_length            37675 non-null  object
 5   home_ownership        37675 non-null  object
 6   annual_inc            37675 non-null  float64
 7   verification_status   37675 non-null  object
 8   loan_status           37675 non-null  int64
 9   purpose               37675 non-null  object
 10  title                 37675 non-null  object
 11  addr_state            37675 non-null  object
 12  dti                   37675 non-null  float64
 13  delinq_2yrs           37675 non-null  float64
 14  earliest_cr_line      37675 non-null  object
 15  inq_last_6mths        37675 non-null  float64
 16  open_acc              37675 non-null  float64
 17  pub_rec               37675 non-null  float64
 18  revol_bal             37675 non-null  float64
 19  revol_util            37675 non-null  object
 20  total_acc             37675 non-null  float64
 21  total_pymnt           37675 non-null  float64
 22  total_pymnt_inv       37675 non-null  float64
 23  total_rec_prncp       37675 non-null  float64
 24  last_credit_pull_d    37675 non-null  object
 25  pub_rec_bankruptcies  37675 non-null  float64
dtypes: float64(14), int64(1), object(11)
memory usage: 7.8+ MB

In [54]:
object_col = []
for col, dty in loans_2007.dtypes.to_dict().items():
    if dty == 'object':
        object_col.append(col)
print(object_col)

['term', 'int_rate', 'emp_length', 'home_ownership', 'verification_status', 'purpose', 'title', 'addr_state', 'earliest_cr_line', 'revol_util', 'last_credit_pull_d']